@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: Inter, Poppins, sans-serif, monospace, -apple-system,
    BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
    Droid Sans, Helvetica Neue;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.blink {
  opacity: 1;
  animation: blinkAnimation 1.5s steps(2) infinite;
}

@keyframes blinkAnimation {
  0% {
    opacity: 0;
  }
}
