@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue;
}

a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

* {
    box-sizing: border-box;
}

/* inspired by: https://css-tricks.com/responsive-data-tables/ */
/* Style Code by Anonymous: https://codesandbox.io/s/j51cd?file=/src/TestTable.tsx */

td .tdBefore {
    display: none;
}
  
@media screen and (max-width: 40em) {
    table,
    thead,
    tbody,
    th,
    td,
    tr {
        display: block;
    }
  
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
  
    tbody tr {
        padding: 0.25em;
    }
  
    td.pivoted {
        border: none !important;
        position: relative;
        padding-left: calc(50% + 10px) !important;
        text-align: left !important;
        white-space: pre-wrap;
        overflow-wrap: break-word;
        border-bottom: 1px solid lightgrey !important;
    }
  
    td .tdBefore {
        position: absolute;
        display: block; 
        left: 1rem;
        width: calc(50% - 20px);
        white-space: pre-wrap;
        overflow-wrap: break-word;
        text-align: left !important;
        font-weight: 600;
    }
}
  